.App-MainSection {

	.chain-builds-sidebar {
		background: #FFF;
		width: 270px;
		padding: 55px 10px 20px 10px;
		overflow: initial !important;
		overflow-y: auto !important;

		&.with-results-popup {
			overflow-y: initial !important;

			.ChainBuilds {
				overflow: hidden;
				height: 100%;
				padding: 0 1px;
			}
		}

		&.visible + .pusher {
			.watched-builds {
				overflow-y: auto;
				height: 100%;
				padding-left: 120px;
				margin-right: 0px !important;
				padding-right: 10px;
			}
		}
	}

	.watched-builds {
		padding-top: 60px;
		padding-bottom: 20px;
		transition: 0.3s all ease;
	}

}