.build-dropdown {
	float: right;
	margin-right: 0px;

	&.pointing {
		.build-dropdown-menu.menu:after {
			left: initial;
			right: 12px;
		}
	}

	.build-dropdown-menu {
		left: initial;
		right: 0%;

		.divider.menu-divider {
			margin: 0px;
		}

		.menu {
			.item {
				padding-left: 11px !important;
			}
		}
	}
}