$grey: #767676;

.grouped-builds {

	.grouped-build-item {
		border-left: 2px solid $grey;
		padding-left: 12px !important;
		margin-top: 20px;
		padding-top: 0px !important;
		
		.ui.segment {
			padding-top: 0px !important;
		}

		.grouped-build-header {
			margin-bottom: 10px;

			.header-label {
				line-height: inherit;
			}

			.header-controls {
				vertical-align: middle;
			}
		}

	}

}