.search-items-results-container {

	.sub-list-result-item {
		padding: 4px 4px 0px 4px !important;
	
		.sub-list-header {
			display: inline !important;
		}
	
		.list {
			padding: 4px 0px 0px 0px !important;
	
			.item {
				padding: 4px 4px 4px 8px !important;
				margin: 0 -4px;
				&:hover {
					cursor: pointer;
					background: rgba(0, 0, 0, 0.03);
				}
			}
		}
	
		.item {
			padding: 4px 0px !important;
		}
	}

}