.ui.menu.App-TopMenu {

	border-bottom: none !important;

	.left.menu {
		margin-right: 4px !important;
	}

	.ui.checkbox.toggle {
		margin: auto 0;
	}

	.search-section {
		position: relative;

		.search-input {
			float: right;
			margin-right: 10px;
			padding-left: 10px;
			min-width: 250px;
			
			input {
				background: #EEE;
				border-radius: inherit;
			}
		}

		.search-result {
			background: #FFF;
			width: 350px;
			padding: 0;
			overflow-y: auto;
			z-index: 3;
			max-height: inherit;
		}
	}
}

.backgroud-contriner {
	position: fixed;
	opacity: 0;
	background: #CCC;
	z-index: 2;
	width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}