.ChainBuilds {

	.search-input {
		width: 100%;
		
		input {
			background: #EEE;
			border-radius: inherit;
		}
	}

	.search-items-results-container {
		left: 255px;
		width: calc(100% + 70px);
		
		.search-chain-result {
			background: #FFF;
			padding: 0;
			overflow-y: auto;
			z-index: 3;
			max-height: inherit;
			margin-bottom: 0px;
		}

		.backgroud-contriner {

		}
	}

	.builds-list.cards {
		overflow-y: auto;
	}
}